<div class="content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quia molestias
  ipsam mollitia similique rerum amet obcaecati vitae
</div>

<style>
  .content {
    height: 200vh;
  }
</style>
