---
import HtmlBase from "@/components/green-market/html-base.astro"
---

<HtmlBase>
  <div class="gm-header debug-layout">
    <h1>header</h1>
    <ul>
      <li>ヘッダ</li>
      <li>虫眼鏡マークをクリックすると検索窓が伸びて出現</li>
      <li>写真付き上ナビドロップダウン &lt;-&gt; ハンバーガーメニュー</li>
    </ul>
  </div>
  <div class="gm-hero debug-layout">
    <h1>hero</h1>
    <ul>
      <li>見出し</li>
      <li>複数画像を中央に注目させて見せる</li>
    </ul>
  </div>
  <div class="gm-layout-switch">
    <div class="gm-layout-switch__item --main">
      <div class="gm-main__item gm-main__popularity debug-layout">
        <h1>ranking</h1>
        <ul>
          <li>見出し</li>
          <li>カード型レイアウト</li>
        </ul>
      </div>
      <div class="gm-main__item gm-main__latest debug-layout">
        <h1>new items</h1>
        <ul>
          <li>見出し</li>
          <li>サムネイルをクリックするとメイン画像が切り替わる</li>
        </ul>
      </div>
      <div class="gm-main__item gm-main__news debug-layout">
        <h1>news</h1>
        <ul>
          <li>任意の場所をクリックすると隠れていた内容が開く</li>
        </ul>
      </div>
    </div>
    <div class="gm-layout-switch__item --side debug-layout">
      <h1>side</h1>
      <ul>
        <li>円が縮小して押し込まれるボタン</li>
        <li>文章やボタンにカーソルを合わせると補足情報が表示される</li>
        <li>タブメニュー</li>
      </ul>
    </div>
  </div>
  <div class="gm-footer debug-layout">
    <h1>footer</h1>
    <ul>
      <li>横並びから縦並びへ</li>
    </ul>
  </div>
</HtmlBase>

<style>
  .debug-layout {
    background-color: #b8e8fc;
  }

  .gm-layout-switch {
    --breakpoint: 50em;

    display: flex;
    flex-wrap: wrap;
    gap: 3%;
  }

  .gm-layout-switch__item.--main {
    flex-basis: calc((var(--breakpoint) - 100%) * 999);
    flex-grow: 1;
  }

  .gm-layout-switch__item.--side {
    flex-basis: calc((var(--breakpoint) - 100%) * 999);
    flex-grow: 0.7;
  }
</style>
