---
import "@acab/reset.css"
import HtmlBase from "@/components/green-market/html-base.astro"
import Header from "@/components/green-market/header.astro"
import SectionTitle from "@/components/green-market/section-title.astro"
import Side from "@/components/green-market/side.astro"
import News from "@/components/green-market/news.astro"
import Hero from "@/components/green-market/hero.astro"
import NewItemList from "@/components/green-market/new-item-list.svelte"
---

<HtmlBase>
  <Header />
  <Hero class="gm-hero" />
  <div class="gm-layout-switch">
    <div class="gm-layout-switch__item --main">
      <section class="gm-main__item gm-main__popularity debug-layout">
        <SectionTitle text="ranking" />
        <ul>
          <li>カード型レイアウト</li>
        </ul>
      </section>
      <section class="gm-main__item gm-main__latest">
        <SectionTitle text="new items" />
        <NewItemList />
      </section>
      <News class="gm-main__item" />
    </div>
    <Side class="gm-layout-switch__item --side" />
  </div>
  <div class="gm-footer debug-layout">
    <h2>footer</h2>
    <ul>
      <li>横並びから縦並びへ</li>
    </ul>
  </div>
</HtmlBase>

<style>
  .debug-layout {
    background-color: #b8e8fc;
    margin: 10px;
  }

  .gm-layout-switch {
    --breakpoint: 50em;

    display: flex;
    flex-wrap: wrap;
  }

  .gm-layout-switch__item.--main {
    flex-basis: calc((var(--breakpoint) - 100%) * 999);
    flex-grow: 1;
  }

  .gm-layout-switch__item.--side {
    flex-basis: calc((var(--breakpoint) - 100%) * 999);
    flex-grow: 0.7;
  }
</style>
