---
import DrawerNav from "@/components/green-market/drawer-nav/index.svelte"

const { ...props } = Astro.props
---

<header class:list={[props.class, "gm-header"]}>
  <DrawerNav client:load bgAnimeType={"circle-from-left-top"}>
    <ul>
      <li><a href="#">花束・ブーケ</a></li>
      <li><a href="#">アレンジメント</a></li>
      <li><a href="#">ブリザードフラワー</a></li>
      <li><a href="#">季節限定</a></li>
    </ul>
  </DrawerNav>
  <h1 class="gm-header-title">
    <a href="/green-market" class="gm-header-title__link">
      <img
        class="gm-header-title__logo"
        src="/images/coco-factory/grean-market/logo.png"
        alt=""
      />
      <span class="visually-hidden">green market</span>
    </a>
  </h1>
</header>

<style>
  .gm-header {
    background-image: url("/images/coco-factory/grean-market/bg_header.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }

  .gm-header-title {
    max-width: 150px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .gm-header-title__logo {
    max-width: 100%;
    height: auto;
  }
</style>
