---
import products from "@/contents/green-market/product.yml"
import ProductList from "./product-list.svelte"

const { ...props } = Astro.props
---

<div class:list={[props.class]}>
  <ProductList client:visible products={products} />
</div>
