<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>1-11 ECサイト</title>
    <meta
      name="description"
      content="書籍「動くWebデザインアイディア帳」のサンプルサイトです"
    />
    <meta name="robots" content="noindex,nofollow" /><meta
      name="keywords"
      content=""
    />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--=============Google Font ===============-->
    <link
      href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
    <style is:global>
      body {
        margin: 0;
        background-color: #ecf1e9;
        color: #333333;
        font-family: "Sawarabi Gothic", sans-serif;
        font-size: 1rem;
        line-height: 1.85;
      }

      a {
        color: #333;
        text-decoration: none;
      }

      button {
        appearance: none;
        background-color: transparent;
        border: none;
      }
    </style>
  </body>
</html>
