---
import AnimateUnderlineLink from "@/components/animate-underline-link.astro"
import ArrowLink from "@/components/arrow-link.astro"
import HLineHeading from "@/components/horizontal-line-heading.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <section>
      <h1>::beforeで三角形をつくる</h1>
      <ArrowLink arrow={{ to: "right" }} />
      <ArrowLink arrow={{ to: "left" }} />
      <ArrowLink arrow={{ to: "top" }} />
      <ArrowLink arrow={{ to: "bottom" }} />
    </section>
    <section>
      <h1>::beforeと::afterで左右線付き見出しをつくる</h1>
      <HLineHeading level={1} text="見出しh1" />
      <HLineHeading level={2} text="見出しh2" />
      <HLineHeading level={3} text="見出しh3" />
      <HLineHeading level={4} text="見出しh4" />
      <HLineHeading level={5} text="見出しh5" />
      <HLineHeading level={6} text="見出しh6" />
    </section>
    <section>
      <h1>::beforeで下線アニメーション</h1>
      <AnimateUnderlineLink
        text="中央から伸びる"
        animation={{ from: "center" }}
      />
      <AnimateUnderlineLink text="左から伸びる" animation={{ from: "left" }} />
    </section>
  </body>
</html>
