---
import MediaObject from "@/components/media-object.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>メディアオブジェクト</h1>
    <MediaObject
      image={{
        src: "/images/persona.jpg",
        alt: "ペルソナ",
        ratioToContentW: 1.5,
      }}
    >
      <h2>ユーザーを考えた設計で満足な体験を</h2>
      <p>
        提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことにより、訪問者にストレスのないよりよい体験を生み出し、満足を高めることとなります。
        わたしたちはお客さまのサイトに合ったユーザビリティを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエイティブとテクノロジーを設計・構築し、今までにない期待を超えたユーザー体験を提供いたします。
      </p>
    </MediaObject>
    <MediaObject
      image={{
        src: "/images/persona.jpg",
        alt: "ペルソナ",
        ratioToContentW: 1,
      }}
    >
      <h2>ユーザーを考えた設計で満足な体験を</h2>
      <p>
        提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことにより、訪問者にストレスのないよりよい体験を生み出し、満足を高めることとなります。
        わたしたちはお客さまのサイトに合ったユーザビリティを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエイティブとテクノロジーを設計・構築し、今までにない期待を超えたユーザー体験を提供いたします。
      </p>
    </MediaObject>
    <MediaObject image={{ src: "/images/persona.jpg", alt: "ペルソナ" }}>
      <h2>ユーザーを考えた設計で満足な体験を</h2>
      <p>
        提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことにより、訪問者にストレスのないよりよい体験を生み出し、満足を高めることとなります。
        わたしたちはお客さまのサイトに合ったユーザビリティを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエイティブとテクノロジーを設計・構築し、今までにない期待を超えたユーザー体験を提供いたします。
      </p>
    </MediaObject>
    <MediaObject
      image={{ src: "/images/persona.jpg", alt: "ペルソナ" }}
      reverse
    >
      <h2>ユーザーを考えた設計で満足な体験を</h2>
      <p>
        提供するサービスやペルソナによって、webサイトの設計は異なります。サービスやペルソナに合わせた設計を行うことにより、訪問者にストレスのないよりよい体験を生み出し、満足を高めることとなります。
        わたしたちはお客さまのサイトに合ったユーザビリティを考えるため、分析やヒアリングをきめ細かく実施、満足を体験できるクリエイティブとテクノロジーを設計・構築し、今までにない期待を超えたユーザー体験を提供いたします。
      </p>
    </MediaObject>
    <MediaObject image={{ src: "/images/persona.jpg", alt: "ペルソナ" }}>
      <h2>ユーザーを考えた設計で満足な体験を</h2>
    </MediaObject>
  </body>
</html>
